<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

using Linq2OData.Core;
<# foreach (var externalNs in GetExternalNamespaces()) { #>
using <#= externalNs #>;
<# } #>
namespace <#= namespaceName #>;

/// <summary>
/// OdataName: <#= entityType.Name #>
/// </summary>
public partial class <#= entityType.InputName #> : ODataInputBase
{
<# foreach (var property in entityType.Properties) { #>
	// IsEnumType: <#= property.IsEnumType #>
    public <#= property.CSharpNameInput #> <#= property.Name.SafeVariableName() #> 
	{
		get => GetValue<<#= property.CSharpNameInput #>>("<#= property.Name #>");
		set => SetValue("<#= property.Name #>", value);
	}
<# } #>

    //Navigations
<# foreach (var navigation in entityType.Navigations) { #>
    public <#= navigation.CSharpPropertyInput #> <#= navigation.Name #> 
	{
		get => GetValue<<#= navigation.CSharpPropertyInput #>>("<#= navigation.Name.SafeVariableName() #>");
		set => SetValue("<#= navigation.Name #>", value);
	}
<# } #>

}
