<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

using Linq2OData.Core;
using Linq2OData.Core.Builders;
<# foreach (var usingNs in GetFunctionUsingDirectives()) { #>
using <#= usingNs #>;
<# } #>
namespace <#= request.Namespace #>;

public interface <#= request.InterfaceName #> : IODataEntitySet {}

public class <#= request.Name #> 
{
    private Linq2OData.Core.ODataClient odataClient;
    public Linq2OData.Core.ODataClient ODataClient => odataClient;

    public <#= request.Name #>(HttpClient httpClient) 
    {
         odataClient = new Linq2OData.Core.ODataClient(httpClient, <#= GetODataVersionParameter() #>); 
    }
<# if (request.IncludeServiceMetadata) { #>

    public List<ODataService> Services => <#= request.ServicesName #>.Services();
<# } #>

    public GetBuilder<T> Get<T>(Action<T> keySetter) where T : <#= request.InterfaceName #>, new() 
    {
        return new GetBuilder<T>(odataClient, keySetter);
    }

    public QueryBuilder<T> Query<T>() where T :  <#= request.InterfaceName #>, new() 
    {
        return new QueryBuilder<T>(odataClient);
    }
    public DeleteBuilder<T> Delete<T>(Action<T> keySetter) where T : <#= request.InterfaceName #>, new() 
    {
        return new DeleteBuilder<T>(odataClient, keySetter);
    }

    public UpdateBuilder<T> Update<T>(Action<T> keySetter) where T : <#= request.InterfaceName #>, new()
    {
        return new UpdateBuilder<T>(odataClient, keySetter);
    }

    public CreateBuilder<T> Create<T>() where T : <#= request.InterfaceName #>, new()
    {
        return new CreateBuilder<T>(odataClient);
    }
<# foreach (var clientMetadata in request.Metadata) { #>
<# foreach (var singleton in clientMetadata.Metadata.Singletons) { #>
    public SingletonBuilder<<#= singleton.EntityType.ClassName #>> <#= singleton.Name #>()
    {
        return new SingletonBuilder<<#= singleton.EntityType.ClassName #>>(odataClient, "<#= GetSingletonPath(clientMetadata, singleton) #>");
    }
<# } #>
<# foreach (var func in clientMetadata.Metadata.Functions) { #>
<# if (func.HttpMethod == "GET") { #>
<# if (func.CSharpReturnType == "void") { #>
    public async Task <#= func.CSharpMethodName #>Async(<#= func.CSharpParameters #>CancellationToken cancellationToken = default)
    {
        await odataClient.InvokeFunctionAsync<object>($"<#= func.FunctionUrlTemplate #>", cancellationToken);
    }
<# } else { #>
    public async Task<<#= func.CSharpReturnType #>?> <#= func.CSharpMethodName #>Async(<#= func.CSharpParameters.Length > 0 ? func.CSharpParameters + ", " : "" #>CancellationToken cancellationToken = default)
    {
        var result = await odataClient.InvokeFunctionAsync<<#= func.CSharpReturnType #>>($"<#= func.FunctionUrlTemplate #>", cancellationToken);
        return result?.Data;
    }
<# } #>
<# } else { #>
<# if (func.CSharpReturnType == "void") { #>
    public async Task <#= func.CSharpMethodName #>Async(<#= func.CSharpParameters.Length > 0 ? func.CSharpParameters + ", " : "" #>CancellationToken cancellationToken = default)
    {
<# if (func.Parameters.Any()) { #>
        var actionParameters = new Dictionary<string, object?> { <#= GetActionParameterDict(func) #> };
        await odataClient.InvokeActionAsync("<#= func.Name #>", actionParameters, cancellationToken);
<# } else { #>
        await odataClient.InvokeActionAsync("<#= func.Name #>", null, cancellationToken);
<# } #>
    }
<# } else { #>
    public async Task<<#= func.CSharpReturnType #>?> <#= func.CSharpMethodName #>Async(<#= func.CSharpParameters.Length > 0 ? func.CSharpParameters + ", " : "" #>CancellationToken cancellationToken = default)
    {
<# if (func.Parameters.Any()) { #>
        var actionParameters = new Dictionary<string, object?> { <#= GetActionParameterDict(func) #> };
        var result = await odataClient.InvokeActionAsync<<#= func.CSharpReturnType #>>("<#= func.Name #>", actionParameters, cancellationToken);
<# } else { #>
        var result = await odataClient.InvokeActionAsync<<#= func.CSharpReturnType #>>("<#= func.Name #>", null, cancellationToken);
<# } #>
        return result?.Data;
    }
<# } #>
<# } #>
<# } #>
<# } #>
}

