<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

using Linq2OData.Core;
using Linq2OData.Core.Builders;
<# foreach (var usingNs in GetSingletonUsingDirectives()) { #>
using <#= usingNs #>;
<# } #>
namespace <#= request.Namespace #>;

public interface <#= request.InterfaceName #> : IODataEntitySet {}

public class <#= request.Name #> 
{
    private Linq2OData.Core.ODataClient odataClient;
    public Linq2OData.Core.ODataClient ODataClient => odataClient;
<# foreach (var clientMetadata in request.Metadata) { #>
<# if (clientMetadata.Metadata.Schemas.Any(s => s.Functions.Any())) { #>
    private <#= clientMetadata.ActionsClassName #> <#= clientMetadata.ActionsFieldName #>;
    public <#= clientMetadata.ActionsClassName #> <#= clientMetadata.ActionsPropertyName #> => <#= clientMetadata.ActionsFieldName #>;
<# } #>
<# } #>

    public <#= request.Name #>(HttpClient httpClient) 
    {
         odataClient = new Linq2OData.Core.ODataClient(httpClient, <#= GetODataVersionParameter() #>); 
<# foreach (var clientMetadata in request.Metadata) { #>
<# if (clientMetadata.Metadata.Schemas.Any(s => s.Functions.Any())) { #>
         <#= clientMetadata.ActionsFieldName #> = new <#= clientMetadata.ActionsClassName #>(odataClient);
<# } #>
<# } #>
    }
<# if (request.IncludeServiceMetadata) { #>

    public List<ODataService> Services => <#= request.ServicesName #>.Services();
<# } #>

    public GetBuilder<T> Get<T>(Action<T> keySetter) where T : <#= request.InterfaceName #>, new() 
    {
        return new GetBuilder<T>(odataClient, keySetter);
    }

    public QueryBuilder<T> Query<T>() where T :  <#= request.InterfaceName #>, new() 
    {
        return new QueryBuilder<T>(odataClient);
    }
    public DeleteBuilder<T> Delete<T>(Action<T> keySetter) where T : <#= request.InterfaceName #>, new() 
    {
        return new DeleteBuilder<T>(odataClient, keySetter);
    }

    public UpdateBuilder<T> Update<T>(Action<T> keySetter) where T : <#= request.InterfaceName #>, new()
    {
        return new UpdateBuilder<T>(odataClient, keySetter);
    }

    public CreateBuilder<T> Create<T>() where T : <#= request.InterfaceName #>, new()
    {
        return new CreateBuilder<T>(odataClient);
    }
<# foreach (var clientMetadata in request.Metadata) { #>
<# foreach (var schema in clientMetadata.Metadata.Schemas) { #>
<# foreach (var singleton in schema.Singletons) { #>
    public SingletonBuilder<<#= singleton.EntityType.ClassName #>> <#= singleton.Name #>()
    {
        return new SingletonBuilder<<#= singleton.EntityType.ClassName #>>(odataClient, "<#= GetSingletonPath(clientMetadata, singleton) #>");
    }
<# } #>
<# } #>
<# } #>
}

