<div class="container container-slim py-4">
    <div class="text-center">
        <div class="mb-3">
            <a href="." class="navbar-brand navbar-brand-autodark">
                <img src="images/logo.svg" height="36" alt="">
            </a>
        </div>
        <div class="text-secondary mb-3">@Title</div>
        <div class="progress progress-sm">
            <div class="progress-bar progress-bar-indeterminate"></div>
        </div>
    </div>
</div>
